@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/


.wrapper {
    display: grid;
    min-height: 100%;
    grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

/* HEADER */
.header {
    display: grid;
    grid-area: header;
    background-color: #00bfb2;
    padding: 15px;
    grid-template: 1fr / 3% minmax(100px, auto) minmax(300px, auto) 3%;
}

.header__logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #000;
    grid-column: 2/3;
    grid-row: 1/3;
    transition: all 1s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

.header__logo:hover {
    transform: scale(1.4);
    
}

.header__title{
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    grid-column: 3/4;
}

.header__nav{ 
    grid-column: 3/4;
    
}
.header__menu{
    font-size: 16px;
    display: flex;
    
}

.header__link{
    color: #fff;
    display: block;
    transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    border: 1px;
    padding: 15px;
}
.header__link:hover {
    color: #000;
    transform: scale(1.2);
    transform: rotate(360deg);
}



/*================== MAIN ====================*/

.main{
    display: grid;
    grid-area: main;
    grid-template: 1fr / 3% minmax(50px, 150px) minmax(500px, 1100px) 3%;
}
.title{
    font-size: 30px;
    margin: 20px;
}

.sidebar{
    grid-column: 2/3;
}

.sidebar__menu{
    padding: 10px;
}

.sidebar__menu li{
    margin-bottom: 10px;
}
.sidebar__link{
    color: #000;
    font-size: 18px;
}

.body{
    grid-column: 3/4;
}
.gallery{
    margin-bottom: 20px;
}

.gallery__items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
}
.gallery__item{
    position: relative;
    padding: 0px 0px 85% 0px;
}

.gallery__item img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.gallery__item_big{
    grid-column: span 2;
    grid-row: span 1;
        
}

.product{
    margin-bottom: 50px
}
.product__title{}
.product__items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 50px;
}
.product__item{
  
}
.product__img{
    position: relative;
    padding: 0px 0px 85% 0px;
    border: 5px solid;
}
.product__img img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.product__info{
    padding: 10px;
    font-size: 18px;
    line-height: 1.3;
}
.product__button {}
    

.product__by{
    padding: 10px 25px;
    background-color: aqua;
    font-size: 15px;
    border-radius: 5px;
    margin: 0 auto;
    transition: 1s;
}
.product__by:hover{
    transform: scale(1.3);
}


/* Footer */
.footer{
    display: grid; 
    grid-area: footer;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    padding: 15px;
    grid-template: 1fr / 1fr 1fr;
}

.footer__brand{
 
}























